/* LATO */

@font-face {
    font-family: Lato-Bold;
    src: url(../src/fonts/Lato-Bold.ttf);
  }

  @font-face {
    font-family: Lato-Black;
    src: url(../src/fonts/Lato-Black.ttf);
  }

  @font-face {
    font-family: Lato-Hairline;
    src: url(../src/fonts/Lato-Hairline.ttf);
  }

  @font-face {
    font-family: Lato-Heavy;
    src: url(../src/fonts/Lato-Heavy.ttf);
  }