.image-lht {
    width:100%;
    height:100%;
    object-fit:cover;
}



.portboximage1 {
    border: 5px solid black;
    width:500px;
    height:500px;
    position:absolute;
    margin-top:10px;
}

.portbox1 {
    color:black;
    font-family:"Lato-Heavy";
    font-size:20px;
    position:absolute;
    margin-top:250px;
    margin-left:175px;
}

.portboximage1
{
        opacity:0.5;
}
.portboximage1:hover
{
        opacity:1;
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
}

.portboximage2 {
    border: 5px solid black;
    width:500px;
    height:500px;
    position:absolute;
    margin-top:10px;
    margin-left:520px;
}

.portbox2 {
    color:black;
    font-family:"Lato-Heavy";
    font-size:20px;
    position:absolute;
    margin-top:250px;
    margin-left:700px;
}

.portboximage2
{
        opacity:0.5;
}
.portboximage2:hover
{
        opacity:1;
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
}


.portboximage3 {
    border: 5px solid black;
    width:500px;
    height:500px;
    position:absolute;
    margin-top:530px;
}

.portbox3 {
    color:black;
    font-family:"Lato-Heavy";
    font-size:20px;
    position:absolute;
    margin-top:800px;
    margin-left:175px;
}

.portboximage3
{
        opacity:0.5;
}
.portboximage3:hover
{
        opacity:1;
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
}



.portboximage4 {
    border: 5px solid black;
    width:500px;
    height:500px;
    position:absolute;
    margin-top:530px;
    margin-left:520px;
}

.portbox4 {
    color:black;
    font-family:"Lato-Heavy";
    font-size:20px;
    position:absolute;
    margin-top:800px;
    margin-left:700px;
}

.portboximage4
{
        opacity:0.5;
}
.portboximage4:hover
{
        opacity:1;
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
}

.portboximage5 {
    border: 5px solid black;
    width:355px;
    height:1020px;
    position:absolute;
    margin-top:10px;
    margin-left:1040px;
    max-width: 100%; 
}

.portbox5 {
    color:black;
    font-family:"Lato-Heavy";
    font-size:20px;
    position:absolute;
    margin-top:500PX;
    margin-left:1150px;
}

.portboximage5
{
        opacity:0.5;
}
.portboximage5:hover
{
        opacity:1;
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
}


