.smfacebook, .sminstagram, .smgithub {
    width:2%;
    height:2%;
    margin-top:10px;
    margin-left:10px;
}

.socialmedia {
    margin-left:10px;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}

.navbar {
    width:100%;
    height:50px;
    background-color: black;
    z-index: 2;
}

.footer {
    width:100%;
    height:50px;
    margin-top:10px;
    background-color: black;
    z-index: 2;
}

.footertext {
    color:white;
    font-family:"Lato-Hairline";
    text-align:center;
    padding-top:15px;
    color: rgba(255,255,255,0.1);
  background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #222;
}

@-moz-keyframes shimmer {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }
  @-webkit-keyframes shimmer {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }
  @-o-keyframes shimmer {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }
  @keyframes shimmer {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }

.home {
    margin-left:150px;
    margin-top:-25px;
    color:white;
    font-family:"Lato-Bold"
}

.about {
    margin-top:-20px;
    margin-left:250px;
    color:white;
    font-family:"Lato-Bold"
}

.portfolio {
    margin-top:-20px;
    margin-left:350px;
    color:white;
    font-family:"Lato-Bold"
}

.for-sale {
    margin-top:-19px;
    margin-left:480px;
    color:white;
    font-family:"Lato-Bold"
}

.commissions {
    margin-top:-18px;
    margin-left:600px;
    color:white;
    font-family:"Lato-Bold"
}

.categories {
    margin-left:250px;
}

.largebox {
    width:500px;
    height:650px;
    outline:5px solid black;
    background-color: grey;
    margin-left:5px;
    margin-top:10px;
    z-index:4;
}

.abouttext {
    font-family:"Lato-Heavy";
    color:black;
    margin-top:-300px;
    margin-left:550px;
    font-size:20px;
    text-align:center;
    line-height: 30px;
}

.largeboxbanner {
  height:200px;
  width:50px;
  background-color:rgba(0, 0, 0, 0.5);
  margin-top:-650px;
  z-index:3;
  position:absolute;
  border-radius: 10px;
}

.aboutspacer {
  height:900px;
  width:500px;
  background-color:black;
  margin-top:10px;
}

.aboutspacertitle {
  color:white;
  font-family:"Lato-Heavy";
  font-size:75px;
  margin-left:100px;
  padding-top:20px;
}

.brushline {
  width:80%;
  margin-left:30px;
}

.sampletext {
  margin-top:-175px;
}

.largebox2 {
  width:888px;
  height:891px;
  outline:5px solid black;
  background-color: grey;
  margin-left:515px;
  margin-top:-895px;
  z-index:4;
}

.buymehere {
  color:white;
  font-family:"Lato-Heavy";
  font-size:20px;
  margin-top:-120px;
  margin-left:530px;
  position:absolute;
}

.buymeherea {
  color:red;
  font-family:"Lato-Heavy";
  font-size:20px;
  text-decoration:none;
}

.newaddition {
  margin-top:45px;
}

.group {
  -webkit-transform: rotate(90deg); 
  -moz-transform: rotate(90deg);    
  transform:rotate(90deg);
  margin-left:-450px;
  margin-top:-650px;
  position:absolute;
}